In [1]:
import sys, os 

import pandas as pd

In [16]:
excel_base = pd.ExcelFile('../data/COVID-19-geographic-disbtribution-worldwide-2020-03-17.xlsx')
df = pd.read_excel(excel_base, 'COVID-19-geographic-disbtributi')

In [17]:
df

,DateRep,Day,Month,Year,Cases,Deaths,Countries and territories,GeoId
0,2020-03-17,17,3,2020,5,0,Afghanistan,AF
1,2020-03-16,16,3,2020,6,0,Afghanistan,AF
2,2020-03-15,15,3,2020,3,0,Afghanistan,AF
3,2020-03-11,11,3,2020,3,0,Afghanistan,AF
4,2020-03-08,8,3,2020,3,0,Afghanistan,AF
...,...,...,...,...,...,...,...,...
5383,2020-01-04,4,1,2020,0,0,Vietnam,VN
5384,2020-01-03,3,1,2020,0,0,Vietnam,VN
5385,2020-01-02,2,1,2020,0,0,Vietnam,VN
5386,2020-01-01,1,1,2020,0,0,Vietnam,VN
5387,2019-12-31,31,12,2019,0,0,Vietnam,VN

In [11]:
vn_df = df[df.GeoId == 'VN']

In [12]:
vn_df

,DateRep,Day,Month,Year,Cases,Deaths,Countries and territories,GeoId
5314,2020-03-17,17,3,2020,4,0,Vietnam,VN
5315,2020-03-16,16,3,2020,4,0,Vietnam,VN
5316,2020-03-15,15,3,2020,4,0,Vietnam,VN
5317,2020-03-14,14,3,2020,5,0,Vietnam,VN
5318,2020-03-13,13,3,2020,5,0,Vietnam,VN
...,...,...,...,...,...,...,...,...
5383,2020-01-04,4,1,2020,0,0,Vietnam,VN
5384,2020-01-03,3,1,2020,0,0,Vietnam,VN
5385,2020-01-02,2,1,2020,0,0,Vietnam,VN
5386,2020-01-01,1,1,2020,0,0,Vietnam,VN
5387,2019-12-31,31,12,2019,0,0,Vietnam,VN

In [13]:
fi_df = df[df.GeoId == 'FI']

In [14]:
fi_df

,DateRep,Day,Month,Year,Cases,Deaths,Countries and territories,GeoId
1678,2020-03-17,17,3,2020,5,0,Finland,FI
1679,2020-03-16,16,3,2020,57,0,Finland,FI
1680,2020-03-15,15,3,2020,55,0,Finland,FI
1681,2020-03-13,13,3,2020,96,0,Finland,FI
1682,2020-03-12,12,3,2020,19,0,Finland,FI
...,...,...,...,...,...,...,...,...
1746,2020-01-04,4,1,2020,0,0,Finland,FI
1747,2020-01-03,3,1,2020,0,0,Finland,FI
1748,2020-01-02,2,1,2020,0,0,Finland,FI
1749,2020-01-01,1,1,2020,0,0,Finland,FI
1750,2019-12-31,31,12,2019,0,0,Finland,FI